/*Css को हम तीन तरह से उपयोग कर सकते है पहला उसी Tag में style लगाकर जो सबसे अधिक प्रभावी है दूसरा Head के अनंदर Style लगाकर जो पहले वाले से कम प्रभावी है जो पूरे पेज के अंदर उपस्थित Tag ya heading को टारगेट करता है तीसरा css की एक अलग फाइल बनाकर जो सबसे कम प्रभावी होता है इसे head के अंदर link लगाकर और उस फाइल का नाम देकर कनैक्‍ट करते */
h1 {
    color:rgb(183, 226, 109)
}
p {
    color:rgb(126, 214, 126)
}
h2{
    color:darkgreen
}
h3{
    color:darkolivegreen
}